

@mixin body-font {
	font-family: 'Hind', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.4rem;
	font-weight:$font-weight-light;
	font-style: normal;
}

@mixin flex ($direction) {
	display: flex;
  flex-direction: $direction;
}

@mixin link-font ($color, $weight:"", $size:""){
	color: $color;
	font-weight: #{$weight};
	font-size: #{$size};
	&:hover{
		color: fade-out($color, 0.3);
	}
}




@mixin iconImg ($positionX, $positionY, $width, $height) {
	content: '';
			display: inline-block;
			position: relative;
			background-image: url(../img/sprite@2x.png);
			background-position: $positionX $positionY;
			width: $width;
			height: $height;
			background-size: 350px 311px;
			
}
